<div class="container-fluid turbo-cols-static turbo-grid-wrap">

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      
      <div class="actionable">
        <div class="actionable-front component-shadow">
          <%= partial 'htmls/elements/actionable/card' %>
        </div>
        <div class="actionable-back bg-white padded component-shadow">
          <%= partial 'htmls/elements/actionable/success' %>
        </div>
      </div>
      
      
    </div>
  </div>

</div>